.loader-loaded {
  background-color: transparent;
  pointer-events: none;
}

.loader-loaded .loader--text {
  transition: opacity 0.2s ease-in;
  opacity: 0;
}
.loader-loaded .loader--sun-container {
  transition: 1s ease-in-out transform, height 0s ease 5s;
  transform: scale(0.9) translateY(-50px) perspective(200px);
  transform: perspective(-20px);

  overflow: hidden;
}
.loader-loaded .loader--sun {
  transition: transform 0.9s ease 1s;
  transform: translateY(62px);
}

.loader-loaded .loader--stripe {
  transition: 1s ease-in-out transform;
  transition-delay: 0.5s;
}
.loader-loaded .loader--stripe:nth-child(1) {
  transform: translateY(42px);
}
.loader-loaded .loader--stripe:nth-child(2) {
  transform: translateY(44px);
}
.loader-loaded .loader--stripe:nth-child(3) {
  transform: translateY(48px);
}
.loader-loaded .loader--stripe:nth-child(4) {
  transform: translateY(53px) scaleY(1.3);
}
.loader-loaded .loader--stripe:nth-child(5) {
  transform: translateY(60px) scaleY(1.5);
}
.loader-loaded .loader--stripe:nth-child(6) {
  transform: translateY(68px) scaleY(1.5);
}
.loader-loaded .loader--stripe:nth-child(7) {
  transform: translateY(76px) scaleY(1.6);
}
.loader-loaded .loader--stripe:nth-child(8) {
  transform: translateY(85px) scaleY(1.9);
}

.show-reflection.loader--sun-container {
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(rgba(50, 50, 50, 0.5)));
  -moz-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(rgba(50, 50, 50, 0.5)));

  reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(rgba(50, 50, 50, 0.5)));
}
